.title {
}

.content {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    background: #393a4b;
    width: 600px;
    font-size: 17px;
    line-height: 160%;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 30px;

    .btn {
        margin-top: 15px;
        font-size: 17px;
        padding: 12px 17px;
        border: 1px solid gray;
        color: white;
        border-radius: 5px;
    }

    .redBtn {
        border-color: #d97373;
        color: #ff1616;
    }

}

